.day {
  background-color: var(--bg-primary);
  min-height: 100vh;
  &-selector {
    margin-bottom: 0.5rem;
    // height: 8rem;
  }
  &__forecast {
    background-color: var(--weather-container-bg);
    padding-bottom: 25rem;
    padding-top: 24rem; // 15.9rem;

    @media only screen and (min-width: $bp-medium) {
      padding-top: 18rem; // 15.9rem;
    }

    &__graph-container {
      margin: 0 auto;
      width: 100%;
      @media only screen and (min-width: $bp-small) {
        width: min(104.4rem, 90%);
      }
      position: relative;
      &__header {
        // display: flex;
        // justify-content: space-between;
      }
    }
  }

  &__weather {
    // background-color: var(--weather-container-bg);
    padding-bottom: 20rem;

    padding-top: 18rem;
    &__subheading {
      // margin-bottom: 16.6rem;
    }
    &__cards-container {
      //   background-color: var(--graph-container-bg);
      //   padding: 2rem 4rem;
      border-radius: 3.4rem;
      margin: 0 auto;
      width: min(104.4rem, 90%);

      &__header {
        &--positioner {
          @media only screen and (min-width: $bp-medium) {
            position: relative;
            left: 0;
          }
          @media only screen and (min-width: $bp-large) {
            position: relative;
            left: 16.7rem; //17.4rem;  //17.4 for centered 16 for left aligned
          }
          @media only screen and (min-width: $bp-largest) {
            grid-template-columns: repeat(3, auto);
            position: relative;
            left: 0.7rem;
            // justify-content: unset;
          }
        }
        // padding: 2rem;
        // display: flex;
        // justify-content: space-between;
      }
    }
  }
}
