.landing-page {
  min-height: 100vh;
}
.landing-page-header {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url("/hero-bg-small-mr.png");
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  height: 100%;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-color: var(--graph-container-bg);
  @media only screen and (min-width: $bp-small) {
    background-image: url("/hero-bg.png");
  }
  @media only screen and (min-width: $bp-large) {
    display: flex;
    gap: 0;
    flex-direction: row-reverse;
  }
  &__container {
    padding-top: 12rem;
    margin: 0 auto;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // align-items: center;

    @media only screen and (min-width: $bp-small) {
      padding-top: 14rem;
    }
    @media only screen and (min-width: $bp-large) {
      // padding-top: 8rem; // 16rem; // 10.2rem;
      width: 80%;
    }

    &__header-box {
      margin: 0 auto;
      width: min(45rem, 100%);
    }
    &__heading {
      color: $color-white;
      font-family: $font-display;
      font-size: 8rem;
      font-style: normal;
      font-weight: 600;
      line-height: 8.8rem; // 9.6rem;
      text-align: center;
      margin-bottom: 1.6rem;
    }

    &__subheading {
      color: $color-subheader;
      font-family: $font-display;
      font-size: 2.8rem;
      font-style: normal;
      font-weight: 600;
      line-height: 3.4rem;
      letter-spacing: 0em;
      text-align: center;
      width: min(32rem, 80%);
      text-align: center;
      margin: 0 auto;
      margin-bottom: 5.4rem;
      @media only screen and (min-width: $bp-medium) {
        margin-bottom: 8rem;
      }
      @media only screen and (min-width: $bp-large) {
        margin-bottom: 5.8rem;
      }
    }
    &__text {
      /* The Simplest way to find your next powder day */
      width: 22rem;
      height: 4.832rem;
      margin-bottom: 5rem; //3.868rem;

      //typography
      color: $color-white;
      font-family: $font-primary;
      font-style: normal;
      font-weight: bold;
      font-size: 2.5rem;
      line-height: 2.4rem;
      letter-spacing: -0.045em;
      text-transform: capitalize;

      @media only screen and (min-width: $bp-large) {
        width: 33.7rem;
        margin-bottom: 7.4rem; // 7.8rem;
        //typography
        line-height: 3.5rem;
        font-size: 2.8rem;
      }
    }
    &__button {
      color: $color-white;
      margin: 0 auto;
      display: block;

      margin-bottom: 3.75rem;
      @media only screen and (min-width: $bp-large) {
        position: static;
        margin-bottom: 4.286rem;
      }
      transition: all 0.25s ease-in;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 10px 0 rgb(0 0 0 / 25%);
      }
    }
  }
  &__img-container {
    /* beautiful-scenery-clear-white-snowy-mountains-hills 1 */
    background-color: gray;
    height: 32.6rem;
    position: relative;
    @media only screen and (min-width: $bp-large) {
      width: 62.2rem;
      height: 76rem;
    }
    @media only screen and (min-width: 1600px) {
      width: 55%;
    }
  }
}

.btn--check-snow {
  margin: 0 auto;

  padding: 1.25em 3em;
  background: $color-primary; // #3282b8;
  box-shadow: 0px 2.30103px 2.30103px rgba(0, 0, 0, 0.25);
  border-radius: 3.4rem; // 34.5155px;
  //typography
  font-size: 2.4rem;
  font-family: $font-primary;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3.75rem;

  @media only screen and (min-width: $bp-large) {
    font-style: normal;
    font-weight: 700;
    text-align: center;
  }
}
