.landing-page {
  // min-height: 100vh;
  // background-color: var(--graph-container-bg);
  // background-image:
  // background-image: url("/hero-bg.png");
  // width: 100%;
  // height: 100vh;
  min-height: 100vh;
}
.landing-page-header {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url("/hero-bg-small-mr.png");
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  height: 100%;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  // height: 100vh;
  background-color: var(
    --graph-container-bg
  ); //var(--graph-container-bg); // $color-primary-light;
  @media only screen and (min-width: $bp-small) {
    background-image: url("/hero-bg.png");
  }
  @media only screen and (min-width: $bp-large) {
    display: flex;
    gap: 0;
    flex-direction: row-reverse;
  }
  &__container {
    // margin-left: 4.2rem;
    padding-top: 20rem; // 16rem; // 10.2rem;
    // width: 80%; //29.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media only screen and (min-width: $bp-large) {
      padding-top: 14rem; // 16rem; // 10.2rem;
      width: 80%;
    }
    //   @media only screen and (min-width: 1600px) {
    //     width: 80%; //81.8rem;
    //     padding-left: 9.8rem;
    //     padding-top: 17.5rem;
    //   }
    // }
    @media only screen and (min-width: $bp-largest) {
      // justify-content: unset;
    }
    &__header-box {
      margin: 0;
      width: min(45rem, 100%);
      // @media only screen and (min-width: $bp-large) {
      //   width: 45rem;
      // }
    }
    &__heading {
      // color: var(--text-color); //var(--heading-color);
      color: white;

      //////////lato

      font-family: $font-display;
      font-size: 8rem;
      font-style: normal;
      font-weight: 600;
      line-height: 9.6rem;
      // letter-spacing: -0.05em;
      text-align: center;
      margin-bottom: 5.4rem;

      @media only screen and (min-width: $bp-large) {
        // font-size: 15rem;
        margin-bottom: 5.4rem;
      }
    }

    &__subheading {
      color: $color-subheader;

      font-family: $font-display;

      font-size: 2.8rem;
      font-style: normal;
      font-weight: 600;
      line-height: 3.4rem;
      letter-spacing: 0em;
      text-align: center;

      width: min(32rem, 80%);

      text-align: center;
      margin: 0 auto;
      margin-bottom: 5.4rem;
      @media only screen and (min-width: $bp-medium) {
        // font-size: 2.4rem;
        // width: 30rem;
        // line-height: 3.6rem;
        // margin-bottom: 16.6rem; // 16rem;
        margin-bottom: 8rem;
      }
      @media only screen and (min-width: $bp-large) {
        // font-size: 2.4rem;
        // width: 30rem;
        // line-height: 3.6rem;
        // margin-bottom: 16.6rem; // 16rem;
        margin-bottom: 5.8rem; // 5.6rem;
      }
    }
    &__text {
      /* The Simplest way to find your next powder day */
      // color: var(--text-color);
      color: white;

      width: 22rem; //19.386rem;
      height: 4.832rem;

      font-family: $font-primary;
      font-style: normal;
      font-weight: bold;
      font-size: 2.5rem; //2rem; //1.61072rem;
      line-height: 2.4rem;
      letter-spacing: -0.045em;
      text-transform: capitalize;

      margin-bottom: 5rem; //3.868rem;
      @media only screen and (min-width: $bp-large) {
        font-size: 2.8rem;
        width: 33.7rem;
        line-height: 3.5rem;

        margin-bottom: 7.4rem; // 7.8rem;
      }
    }
    &__button {
      color: white;
      margin-bottom: 3.75rem;
      // position: absolute;
      // bottom: 5rem;
      @media only screen and (min-width: $bp-large) {
        position: static;
        margin-bottom: 4.286rem;
      }
      transition: all 0.25s ease-in;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 10px 0 rgb(0 0 0 / 25%);
      }
    }
  }
  &__img-container {
    /* beautiful-scenery-clear-white-snowy-mountains-hills 1 */
    background-color: gray;
    // width: 37.5rem;//was full on small screen
    height: 32.6rem;
    position: relative;
    @media only screen and (min-width: $bp-large) {
      width: 62.2rem;
      height: 76rem; // 100vh; //74rem;
    }
    @media only screen and (min-width: 1600px) {
      width: 55%; //81.8rem;
    }
    &__img {
    }
  }
}

.landing-page-forecast {
  // min-height: 100vh;
  background-color: var(--landing-accent-box-bg); // $color-primary-light;
  &__container {
    margin: 0 auto;
    width: 80%; // 29.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media only screen and (min-width: $bp-large) {
      width: 100%; // 29.2rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 75rem; // 100vh; //74rem;
      height: fit-content;
    }

    &__header-box {
      // margin: 0;
      // width: 29rem;
      padding-top: 8rem;
      @media only screen and (min-width: $bp-large) {
        width: 56.8rem;
        padding-top: 12rem;
      }
    }
    &__heading {
      font-family: $font-display;
      color: var(--text-color); //var(--heading-color);
      font-size: 6rem; //;4rem; ///2.463rem;
      font-style: normal;
      font-weight: 900;
      line-height: 3.1rem;
      letter-spacing: -0.11em;
      text-align: center;

      /* Simple Forecast */

      // width: 24.736rem;
      height: 3.13rem;
      margin-bottom: 2rem;

      @media only screen and (min-width: $bp-large) {
        // font-size: 6.8rem;
        margin: 0 auto;
        margin-bottom: 2.5rem;
        width: fit-content;
        text-align: center;
        font-size: 8rem;

        // line-height: 6.1rem;
      }
    }

    &__subheading {
      margin: 0 auto;
      // color: var(--subheading-color);
      color: var(--text-color);

      /* Find Fresh Snow */

      width: 17.43rem;
      height: 1.848rem;
      padding-top: 0.1rem;
      font-family: $font-primary;
      font-style: normal;
      font-weight: 600;
      font-size: 2rem; //1.23167rem;
      line-height: 1.8rem;
      /* identical to box height */
      text-align: center;
      letter-spacing: -0.045em;
      text-transform: uppercase;

      margin-bottom: 5.352rem;

      @media only screen and (min-width: $bp-medium) {
        // font-size: 6.8rem;
        margin: 0 auto;
        margin-bottom: 10rem;
        width: fit-content;
        font-family: $font-primary;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.6rem;
        // letter-spacing: -0.045em;
      }
    }
    &__text {
      color: var(--text-color);
      //could add margin 0 here but then would need to adjus tthe headings as well
      font-family: $font-primary;
      font-size: 2rem; //.5rem; // 1.5rem; //1.232rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.5rem; //1.847rem;
      letter-spacing: -0.045em;
      text-align: left;
      /* Easily see the conditions for your favorite mountains with the Simplest Ski resort forecasts. Don’t get stuck in an avalanche of data. get key weather info to help choose your next powder trip. */

      width: 29.2rem;
      height: 12.4rem;

      @media only screen and (min-width: $bp-large) {
        width: 48.2rem;
        font-size: 2.5rem;
        line-height: 3.6rem;
        // text-transform: ;
      }
    }
    &__p-1 {
      margin-bottom: 0rem;
      @media only screen and (min-width: $bp-large) {
        margin-bottom: 4rem;
      }
    }

    &__p-2 {
      margin-bottom: 0rem;

      @media only screen and (min-width: $bp-large) {
        margin-bottom: 0rem;
      }
    }
    &__callout {
      /* It’s free. check it out! */
      font-family: $font-primary;
      margin-bottom: 0.462rem;
      width: fit-content; // 10.213rem;
      height: 1.386rem;
      color: var(--heading-span-color);
      font-family: $font-primary;
      font-style: normal;
      font-weight: 600;
      font-size: 1.25rem; //0.92375rem;
      line-height: 1.4rem;
      /* identical to box height */
      text-align: center;
      letter-spacing: -0.045em;
      text-transform: uppercase;

      @media only screen and (min-width: $bp-large) {
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.7rem;
        letter-spacing: -0.045em;
        width: fit-content;
        text-align: center;
        margin-bottom: 2rem;
        // position: relative;
        top: 8.4rem;
      }
      position: relative;
      top: 6.2rem;
    }
    &__button {
      position: relative;
      // top: 6.4rem;
      z-index: 100;
      transition: all 0.25s ease-in;
      color: white;
      &:hover {
        transform: translateY(-2px);
      }
      bottom: 5rem;
      @media only screen and (min-width: $bp-medium) {
        // position: relative;
        // top: 8.5rem;
      }
    }
  }
  &__img-container {
    /* beautiful-snowy-landscape-with-mountains 1 */

    // position: absolute;
    // width: 37.5rem;
    width: 100vw; //62.2rem;
    max-width: 100%;
    height: 30.9rem;
    // left: 0px;
    // top: 1197px;
    // height: 34.9rem !important;
    // background-color: var(--accent-box-bg); //$color-primary-light;
    // width: 100vw;

    position: relative;
    background-color: gray;
    &__img {
    }
  }
}

.btn--check-snow {
  // width:  //20rem; // 16.625rem;
  // height: 10rem; //5.925rem;
  // height: 12rem; // 10.3rem;
  // width: 80%; //28.9rem;
  font-size: 2.4rem;
  padding: 1.25em 3em;
  background: $color-primary; // #3282b8;
  box-shadow: 0px 2.30103px 2.30103px rgba(0, 0, 0, 0.25);
  border-radius: 3.4rem; // 34.5155px;
  //typography

  font-family: $font-primary;
  font-style: normal;
  font-weight: 700;
  // font-size: 1.8rem; //2.07093rem;
  // line-height: 3.1rem;
  text-align: center;
  // letter-spacing: -0.065em;
  text-transform: uppercase;
  margin-bottom: 3.75rem;
  // max-width: 40rem;

  @media only screen and (min-width: $bp-small) {
    // height: 12rem; // 10.3rem;
    // width: 50%;
    // max-width: 40rem;
  }
  @media only screen and (min-width: $bp-medium) {
    // height: 12rem; // 10.3rem;
    // max-width: 40rem;
    // width: 60%;
  }
  @media only screen and (min-width: $bp-large) {
    // height: 10.3rem;
    // width: 28.9rem;
    // padding: 0.5em 1.25em;

    // border-radius: 6rem;
    //typography

    // font-size: 3rem;
    font-style: normal;
    font-weight: 700;

    text-align: center;
  }
}
