.select-altitude {
  // margin: 0 auto;
  // width: 16rem;
  position: static;
  margin: 0 auto;
  // @media only screen and (min-width: $bp-small) {
  //   // max-width: 104.4rem;
  //   width: 70%;
  // }
  @media only screen and (min-width: $bp-medium) {
    // max-width: 104.4rem;
  }
  @media only screen and (min-width: $bp-large) {
    // max-width: 104.4rem;
    position: absolute;

    top: -2rem;
  }
  // @media only screen and (min-width: $bp-largest) {
  //   // max-width: 104.4rem;
  //   width: 100%;
  // }
  // width: 60%;
  &__heading {
    text-align: center;
    color: var(--heading-span-color);
    font-family: $font-primary;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8rem;
    letter-spacing: 0em;
    text-align: center;
    // padding-bottom: 1.25rem;
    margin-bottom: 0.5rem;
  }
  &__container {
    margin: 0 auto;
    height: 4.8rem;
    width: 19.6rem;
    // width: 70%;
    margin-bottom: 3rem;
    @media only screen and (min-width: $bp-large) {
      // max-width: 104.4rem;
      position: static;
      margin: 0;
      margin-bottom: 1.1rem;
      // width: 16rem;
    }
    @media only screen and (min-width: $bp-largest) {
      // max-width: 104.4rem;
    }

    background-color: var(--lightmodebox-bg);
    box-shadow: 0px 2px 2px 0px #00000040;
    align-items: center;
    border-radius: 4.7rem;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8rem;
    letter-spacing: -0.07em;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 0 1.5rem;
    // padding: 2rem 2.75rem;

    & > button {
      padding: 0 0.5rem;
      color: white; // var(--heading-color); // var(--selection-text);
    }

    & > button:focus {
      outline: none;
      & > p {
        // color: var(--selection-text);
      }
    }
    & > button:hover {
      outline: none;
      & > p {
        transform: scale(1.1);

        color: var(--selection-text);
      }
    }
    & > button:active {
      color: var(--selection-text);
      outline: none;
      color: $color-primary;
    }
  }
}
