.locations__search-box {
  position: relative;
  top: -10rem;
  z-index: 100;

  // position: relative;
  // top: -3rem; //-5re; // -12.5rem; // -12.5rem; //for when there is a picture 12.5 is good -15rem; //
  background: #ffffff;
  box-shadow: 2px 7px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem; // 1rem; //4.7rem;

  margin: 0 auto;

  box-sizing: border-box;
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  width: 90vw;
  // height: 17.5rem;

  @media only screen and (min-width: $bp-iphone5) {
    width: 79vw;
    padding-bottom: 1rem;
  }
  @media only screen and (min-width: $bp-smallester) {
    width: 60vw; // 46rem;
    // top: -5.2rem;
  }
  @media only screen and (min-width: $bp-smallest) {
    width: 44rem; // 46rem;
    // top: -5.2rem;
  }
  @media only screen and (min-width: $bp-medium) {
    width: 46rem;
    top: -5.2rem;
    padding-bottom: 0rem;
  }

  &__inner-container {
    padding: 3.3rem;
    padding-bottom: 3.4rem;
    &__select-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      @media only screen and (min-width: $bp-medium) {
        flex-direction: row;
      }
      margin-bottom: 2.9rem;

      &__label {
        //typography
        font-family: $font-primary;
        font-style: normal;
        font-weight: normal;
        font-size: 2.4rem;
        line-height: 2.4rem;
        text-align: center;
        letter-spacing: -0.065em;
        // margin-right: 2.1rem;
        margin-bottom: 2rem;
        @media only screen and (min-width: $bp-iphone5) {
          // font-size: 2rem;
        }
        @media only screen and (min-width: $bp-small) {
        }
        @media only screen and (min-width: $bp-medium) {
          margin-bottom: 0rem;
          font-size: 1.8rem;
        }
        @media only screen and (min-width: $bp-largest) {
          // font-size: 1.6rem;
        }
      }
      &__select {
        width: 92%;
        height: 4rem; // 4.6rem;
        background: rgba(0, 0, 0, 0.02);
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        border-radius: 0.6rem;

        padding-left: 1rem;

        //typography
        font-family: $font-primary;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.1rem;
        letter-spacing: -0.065em;
        @media only screen and (min-width: $bp-medium) {
          font-size: 1.6rem;
          width: 26.8rem;
          height: 4rem;
        }
      }
    }

    &__button-box {
      display: flex;
      justify-content: center;
      @media only screen and (min-width: $bp-medium) {
        justify-content: flex-end;
      }

      &__button {
        // display: flex;
        justify-content: flex-start;
        // padding-left: 2rem;
        width: 92%;
        height: 5.8rem; //5.6rem;
        background: #3282b8;
        border-radius: 0.5rem;
        color: white;
        //typography
        font-family: $font-primary;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.1rem;
        letter-spacing: -0.065em;
        text-align: center;
        // @media only screen and (min-width: $bp-iphone5) {
        //   width: 26.8rem;
        //   height: 4.8rem; //4rem;
        //   font-size: 1.6rem;
        //   // font-size: 1.4rem;
        // }
        @media only screen and (min-width: $bp-medium) {
          width: 11rem;
          height: 4rem;
          font-size: 1.6rem;
          padding-left: 0rem;
          display: inline-block;
          // font-size: 1.4rem;
        }
        & > span {
          font-size: inherit;
          margin-left: 1.1rem;
          @media only screen and (min-width: $bp-medium) {
            margin-left: 0.9rem;
          }
        }
      }
    }
  }
}
