.account {
  padding-top: 12rem;
  color: white;
  width: 80%;
  font-size: 2rem;
  font-weight: 300;
  margin: 0 auto;
}

.filter-favorite-menu {
  z-index: 1000;
  font-size: 2rem;
  background-color: #f4f4f4; // rgb(255 255 255 / 100%);
  padding: 2.6rem;
  border-radius: 1rem;
  position: relative;
  max-width: 40rem;
  width: 66.66%;
  margin: 0 auto;
  top: 40px;
  box-shadow: $box-shadow;
  /* margin: 0; */
  /* margin-top: 1rem; */

  @media only screen and (min-width: $bp-medium) {
    top: 60px;
    font-size: 2rem;
  }

  &__tab {
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: relative;
  }
  &__btn {
    margin-right: 2rem;
    position: relative;

    // border-bottom: 4px solid transparent;

    // &--active {
    //   border-bottom: 4px solid $color-primary-dark;
    // }
  }
}
